---
sitemap: false
---

@import "variables";
@import "typography";
@import "highlighter";
@import "site";

.navbar .nav > li > a.brand-image {
      padding: 4px 0px 0px 0px;
      transform: rotate(180deg);
}
.navbar .nav > li > a > img.brand-image {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
      transform: rotate(180deg);
}
